<!DOCTYPE html>
<html>
<head>
	<title>Equipo Docente</title>
	<meta charset="utf-8">
</head>
<body>
	
	<h1>Equipo Docente</h1>

	<div>
		<h3>Profesores</h3>
		 <ul>
  			<li> Ángel Jiménez Molina </li>
  			<li> Iván Díaz Campos </li>
		</ul>

		<h3>Auxiliares</h3>
		 <ul>
  			<li>Javiera Ovalle T.</li>
  			<li>Jorge Pinto</li>
  			<li>José Canto</li>
  			<li>Macarena V. Osorio A.</li>
		</ul>

		<h3>Ayudantes</h3>
		 <ul>
  			<li>Carlos Alberto Vega Hernández</li>
  			<li>Catalina Martin D.</li>
  			<li>Eduardo Valerio C.</li>
  			<li>Juan Gutiérrez T.</li>
  			<li>Matías Rojas</li>
  			<li>Nicolás Villa Contardo</li>
  			<li>Sebastián Donoso</li>
  			<li>Sofia Herrera</li>
  			<li>Victoria Arce A.</li>
		</ul>
	</div>
	<br>
	<a href="{% url 'index' %}">Volver a la página principal</a>
	<br>
	<a href="{% url 'libre' %}">Ver propósitos del curso</a>

</body>
</html>